body {
    background: #C92B1F;
}

h1 {
    background-color: #E0BF46;
    font-family: Georgia, Palatino, serif;
    text-align: center;
    font-size: 50px;
    color: #270654;
    padding: 10px;
}

h2 {
    text-align: center;
    background-color: #E0BF46;
    color: #270654;
    font-size: 30px;
}

.locations {
    text-align: center;
}

section {
    background-color: #ffffff;
    max-width: 800px;
    padding: 10px;
}

p {
    font-family: Arial, sans-serif;
}

.description {
    border-width: 5px;
    border-style: solid;
    padding: 10px;
    border-radius: 25px;
    margin: 5px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: #270654;
    overflow: hidden;
}

li {
    display: inline;
}

ul {
    float: left;
}

ul:a {
    display: inline
    float: left;
    color: white;
    text-align: center;
    padding-left: 14px;
    padding-right: 10px;
    text-decoration: none;
}

a:hover {
    background-color: #FFE176;
}

#welcome {
    text-align: center;
    font-size: 18px;
}

table, th, td {
   border: 5px solid black;
   border-collapse: collapse;
   backgound-color: #E0BF46;
}

th {
    color: #E0BF46;
    font-size: 18px;
}

td, th {
    text-align: center;
    padding: 5px;
}